@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
}

.content_container {
  display: flex;
  flex-wrap: wrap;
  background-color: #1f2937;
  min-height: 75vh;
}

.header_container {
  width: 100vw;
  height: 40px;
  padding-top: 20px;
  display: flex;
  justify-content: space-around;
}

#header_logo {
  font-size: 24px;
  color: #f9faf8;
}

#header_link1,
#header_link2,
#header_link3,
#description_text {
  font-size: 18px;
  color: #e5e7eb;
}

#header_link1,
#header_link2,
#header_link3 {
  padding-right: 10px;
}

.hero_container {
  box-sizing: border-box;
  display: flex;
  justify-content: space-evenly;
}

.description_container {
  display: flex;
  flex-direction: column;
  width: 50vw;
  align-items: center;
  justify-content: center;
}

.image_container {
  display: flex;
  flex-direction: column;
  width: 50vw;
  align-items: center;
  justify-content: center;
}

#description_header {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
  width: 600px;
}

#description_text {
  width: 600px;
}